.window-btn {
    width: 18px;
    height: 18px;
    border-radius: 25%;
    overflow: hidden;
    border: none;
    position: relative;
    margin-right: 6px;
    background-color: rgba(var(--ui-tertiary), 1.0);
}

.window-btn:active {
    filter: brightness(1.1);
    box-shadow: var(--small-shadow);
}

.window-btn:last-child {
    margin-right: 0;
}

.window-btn:before,
.window-btn:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1px;
    opacity: 0;
}

.close-btn:before,
.close-btn:after {
    width: 1.5px;
    height: 70%;
    background: var(--text);
}

.hide {
    display: none;
}

.close-btn:before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.close-btn:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.min-btn:before {
    width: 70%;
    height: 1.5px;
    background: var(--text);
}

.max-btn:before {
    width: 50%;
    height: 50%;
    background: var(--text);
    border-radius: 1px;
}

.max-btn:after {
    width: 3px;
    height: 80%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: rgba(var(--ui-tertiary), 1.0);
}

.window-header-nav .window-btn:before,
.window-header-nav .window-btn:after {
    top: 50%;
    opacity: 1;
}